<template name="depositFundsModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Deposit Funds for {{name}}</h4>
                </div>

                <div class="modal-body">
                    <p>Deposit funds to make references or trades.</p>
                        {{#autoForm schema=depositFormSchema id="depositFundsForm" type="method" meteormethod="makeDeposit"}}
                        {{> afFieldInput name="name" value=name type="hidden"}}
                        <div class="row">
                            <div class="col-lg-5{{#if afFieldIsInvalid name='deposit'}} has-error{{/if}}">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                    I want to Deposit
                                    </span>
                                    {{> afFieldInput name='deposit' placeholder="0" step="1"}}
                                </div>
                                {{#if afFieldIsInvalid name='deposit'}}
                                <span class="help-block">{{afFieldMessage name='deposit'}}</span>
                                {{/if}}
                            </div>
                            <div class="col-lg-2">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">Deposit</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    {{/autoForm}}
                </div>
                <div class="modal-footer">
                    <button id="close" class="btn btn-default">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>