<template name="referencesOverviewPanel">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
            Overview
            </h3>
        </div>
        <div class="panel-body">
            <table class="table table-condensed table-striped">
                <tbody>
                    <tr>
                        <td>Max Liabilities</td>
                        <td>
                            <span>USD</span>
                            <span>0</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Locked Liabilities</td>
                        <td>
                            <span>USD</span>
                            <span>0</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Insured Trades</td>
                        <td>?</td>
                    </tr>
                    <tr>
                        <td>Claims</td>
                        <td>?</td>
                    </tr>
                    <tr>
                        <td>Profit</td>
                        <td>
                            <span>USD</span>
                            <span>?</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
