<template name="referenceRow">
    <tr>
        <td>
            <input class="switch" type="checkbox" name="my-checkbox" checked={{isChecked isActive true}} data-size="mini">
        </td>
        <td>
            {{> userLink userId=fromId}}
        </td>
        <td>
            {{> userLink userId=objectId}}
        </td>
        <td>
            <span>USD</span>
            <span>{{amount}}</span>
        </td>
        <td>
            <span>{{premiumPct}}</span>
            <span>%</span>
        </td>
    </tr>
</template>
