<template name="referenceRow">
    <tr>
        <td><a href="{{pathFor route='userDetails' userId=traderId}}" class="">{{traderName}} ({{traderId}})</a></td>
        <td>
            <span>USD</span>
            <span>{{maxLiability}}</span>
        </td>
        <td>
            <span>{{premiumPct}}</span>
            <span>%</span>
        </td>
        <td>
            <span>USD</span>
            <span>{{lockedLiability}}</span>
        </td>
        <td>
            <div class="dropdown">
                <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu-" data-toggle="dropdown">
                <span>Action </span>
                <span class="caret">
                </span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu-">
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#" class="delete">
                        Delete
                        </a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
</template>
