<template name="tradeRow">
    <tr>
        <td>{{type}}</td>
        <td><a href="{{pathFor route='tradeDetails' tradeId=_id}}">{{description}}</a></td>
        <td>USD {{price}}</td>
        <td>
            {{> userLink userId=traderId}}
        </td>
        <td>
            {{#if counterPartyId}}
                {{> userLink userId=counterPartyId}}
            {{else}}
                Not claimed
            {{/if}}
        </td>
        <td>{{toUpperCase status}}</td>
        <td>{{formatDate expiration}}</td>
    </tr>
</template>
