<template name="tradeDetails">

<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                Trade Summary
                </h3>
            </div>
            <div class="panel-body">
                <table class="table table-condensed table-striped">
                    <tbody>
                        <tr>
                            <td>Trade ID</td>
                            <td>
                                <span>{{trade._id}}</span>
                                <!-- TODO modal -->
                                <button type="button" class="btn btn-default btn-xs" id="btn-show-trade-id">
                                <i class="fa fa-files-o fa-lg">
                                </i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>Seller </span>
                                <!-- TODO Seller -->
                                <span>(you)</span>
                            </td>
                            <td>
                                <a href="{{pathFor route='userDetails' userId='xyzzy'}}" class="">

                                <span>name</span>
                                <span>(</span>
                                <span>key</span>
                                <span>)</span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td><span>Buyer </span></td>
                            <!-- TODO Buyer -->
                            <td>Not claimed</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>{{trade.description}}</td>
                        </tr>
                        <tr>
                            <td>Price</td>
                            <td>
                                <span>USD</span>
                                <span>{{trade.price}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Valid Until</td>
                            <td>
                                <span>{{formatDate trade.expiration}}</span>
                                <span>(</span>
                                <span>{{formatDateFromNow trade.expiration}}</span>
                                <span>)</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                Status
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        Escrow
                    </div>
                    <div class="col-xs-8">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{trade.escrowPct}}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width:{{trade.escrowPct}}%;">
                                <span>{{trade.escrowPct}}</span>
                                <span>%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        Insurance
                    </div>
                    <div class="col-xs-8">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{trade.insurancePct}}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width:{{trade.insurancePct}}%;">
                                <span>{{trade.insurancePct}}</span>
                                <span>%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row spacer">
                    <div class="col-xs-4">
                        Status
                    </div>
                    <div class="col-xs-8">
                        {{trade.status}}
                    </div>
                </div>
                <div class="row spacer">
                    {{#if trade.canBeCancelled}}
                        <div class="col-xs-4">
                            <button type="button" class="btn btn-default" id="btn-cancel">
                            Cancel
                            </button>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- TODO trade references -->
<div class="row">
    <div class="col-xs-6">
        <h3 class="visible-xs-block">
        References
        </h3>
        <h3 class="hidden-xs">
        References for this trade
        </h3>
    </div>
    <div class="col-xs-6 text-right">
    </div>
</div>
<table class="tradeReferenceList table table-striped">
    <thead>
        <tr>
            <th>Insurer</th>
            <th>Liability</th>
            <th>Premium</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</template>
