<template name="tradeDetails">

<div class="row">
    <div class="col-sm-6">
        {{> tradeSummaryPanel trade=trade}}
    </div>
    <div class="col-sm-6">
        {{> tradeStatusPanel trade=trade}}
    </div>
</div>

{{> referenceTable title="References for the Seller" references=sellerReferences}}

{{> referenceTable title="References for the Buyer" references=buyerReferences}}

{{> referenceTable title="Potential Reference for the Seller" references=sellerPotentialReferences}}

{{> referenceTable title="Potential Reference for the Buyer" references=buyerPotentialReferences}}


</template>
