<template name="tradeRow">
    <tr>
        <td>{{type}}</td>
        <td><a href="{{pathFor route='tradeDetails' tradeId=_id}}">{{description}}</a></td>
        <td>USD {{price}}</td>
        <td>
            {{#if counterPartyId}}
                <a href="{{pathFor route='userDetails' userId=counterPartyId}}">
                    <span>{{userName counterPartyId}}</span>
                    <span>(</span>
                    <span>{{counterPartyId}}</span>
                    <span>)</span>
                </a>
            {{else}}
                Not claimed
            {{/if}}
        </td>
        <td>{{status}}</td>
        <td>{{formatDate expiration}}</td>
    </tr>
</template>
