<template name="userDetails">
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
        <span>User Summary: </span>
        <span>{{user.name}}</span>
        </h3>
    </div>
    <div class="panel-body">
        <table class="table table-condensed table-striped">
            <tbody>
                <tr>
                    <td>User ID</td>
                    <td>
                        <span>{{user._id}}</span>
                        <button type="button" class="btn btn-default btn-xs" id="btn-show-user-id">
                            <i class="fa fa-files-o fa-lg"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>
                        <span>{{user.name}}</span>
                        {{#if notMyself}}
                            <button type="button" class="btn btn-default">
                            Add to Contacts
                            </button>
                        {{/if}}
                    </td>
                </tr>
                <tr>
                    <td>Trades</td>
                    <td>{{tradesCount}}</td>
                </tr>
                <tr>
                    <td>References</td>
                    <td>{{referencesCount}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{{> tradeTable title = tradesTitle trades = userTrades }}
{{> referenceTable title = referencesTitle }}
</template>
