<template name="userTrades">
<div>
    <h3>
    <span>{{user.name}}'s Trades</span>
    
    </h3>
    <table class="tradeList table table-striped">
        <thead>
            <tr>
                <th>Type</th>
                <th>Description</th>
                <th>Price</th>
                <th>Counterparty</th>
                <th>Status</th>
                <th>Expiration</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr>
                <td>sell</td>
                <td>
                    <a href="{{pathFor route='tradeDetails' tradeId='dffdfd'}}" class="">
                    dffdfd
                    </a>
                </td>
                <td>
                    <span>USD</span>
                
                    <span>10</span>
                </td>
                <td>Not claimed</td>
                <td>NEW</td>
                <td>2015-05-14</td>
            </tr> -->
        </tbody>
    </table>
</div>
</template>