<template name="userDetails">
<!-- <h2>User Details</h2> -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
        <span>User Summary: </span>
        <span>name</span>
        </h3>
    </div>
    <div class="panel-body">
        <table class="table table-condensed table-striped">
            <tbody>
                <tr>
                    <td>User ID</td>
                    <td>
                        <span>key</span>
                        <button type="button" class="btn btn-default btn-xs">
                            <i class="fa fa-files-o fa-lg"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>
                        <span>name</span>
                        <button type="button" class="btn btn-default">
                        Add to Contacts
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Trades</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>References</td>
                    <td>1</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <h3>
    <span>name's Trades</span>
    
    </h3>
    <table class="tradeList table table-striped">
        <thead>
            <tr>
                <th>Type</th>
                <th>Description</th>
                <th>Price</th>
                <th>Counterparty</th>
                <th>Status</th>
                <th>Expiration</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>sell</td>
                <td>
                    <a href="#" class="">
                    dffdfd
                    </a>
                </td>
                <td>
                    <span>USD</span>
                
                    <span>10</span>
                </td>
                <td>Not claimed</td>
                <td>NEW</td>
                <td>2015-05-14</td>
            </tr>
            <tr>
                <td>sell</td>
                <td>
                    <a href="#" class="">
                    x
                    </a>
                </td>
                <td>
                    <span>USD</span>
                    
                    <span>1</span>
                </td>
                <td>Not claimed</td>
                <td>CANCELLED</td>
                <td>2015-05-09</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <h3>
    <span>name's References</span>
    
    </h3>
    <table class="referenceList table table-striped">
        <thead>
            <tr>
                <th>Trader</th>
                <th>Max Liability</th>
                <th>Premium</th>
                <th>Locked Liability</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="#" class="">
                    ( name… )
                    </a>
                </td>
                <td>
                    <span>USD</span>
                    
                    <span>5</span>
                </td>
                <td>
                    <span>10</span>
                    <span>%</span>
                </td>
                <td><span>USD</span></td>
            </tr>
        </tbody>
    </table>
</div>
</template>