<template name="userReferences">
<div>
    <h3>
    <span>{{user.name}}'s References</span>
    
    </h3>
    <table class="referenceList table table-striped">
        <thead>
            <tr>
                <th>Trader</th>
                <th>Max Liability</th>
                <th>Premium</th>
                <th>Locked Liability</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr>
                <td>
                    <a href="{{pathFor route='userDetails' userId='xyzzy'}}" class="">
                    ( name… )
                    </a>
                </td>
                <td>
                    <span>USD</span>
                    
                    <span>5</span>
                </td>
                <td>
                    <span>10</span>
                    <span>%</span>
                </td>
                <td><span>USD</span></td>
            </tr> -->
        </tbody>
    </table>
</div>
</template>